* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: gray;
    text-align: center;
}

header.name{
    font-size: 48px;
    color: white;
}

li {
    margin: 5px;
    display: inline;
    list-style-type: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(48, 15, 126);
    color: white;
    text-align: center;
}

footer{
    background-color: black;
}